* { margin:0; padding: 0; }

body { 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  background: #4183c4; 
}

.inner {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 60px;
}

.toolbar {
  background-color: #efedee;
  background-image: -webkit-linear-gradient(top, #efedee, #c1c1c1);
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #6287A4;
  border-bottom: 0;
  height: 30px;
  margin-top: 20px;
  position: relative;
}

.toolbar .controls {
  left: 9px;
  position: absolute;
  top: 9px;
}

ul { list-style:none; margin:0; } 

.toolbar .controls li {
  float: left;
  margin: 0 7px 0 0;
}

.toolbar .controls li a {
  height: 13px;
  width: 12px;
  display:block;
  color: transparent;
  background: url(icon-control.png) no-repeat;
}

.toolbar .controls li a.close {
  background: url(icon-close.png) no-repeat;
}

a { text-decoration:none; }


.toolbar .title {
  color: #000;
  display: block;
  font: 1.3em "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

.toolbar .title-console { position:relative; }

.toolbar .title-console::before {
  background: url(icon-home.png) no-repeat;
  content: '';
  height: 15px;
  position: absolute;
  left: -22px;
  top: 0;
  width: 13px;
}


.panel-group#narrative {
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  -o-box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}

.panel-group#narrative .panel {
  background: #424242;
  height: 300px;
  overflow-y: auto;
  color:white;
  font-weight: normal;
}

.cs-console {
  font: 14px/23px Monaco,Courier,font-monospace;
}

.editor {
  padding-left: 20px;
  padding-top: 10px;
}

#cmd span { float:left; }


#prompt { float:left; }


#cursor {
  float: left;
  width: 7px;
  height: 14px;
  background: white;
  padding-top:5px;
  opacity: 1;

  transition:           opacity 500ms ease-in-out;
    -moz-transition:    opacity 500ms ease-in-out;
    -ms-transition:     opacity 500ms ease-in-out;
    -o-transition:      opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms;

}

#workarea {
  overflow-y: hidden;
  overflow-x: hidden;
}

